<div class="row">
  <div class="col-xs-3">
    <%= render 'layouts/user_profile' %>
    <%= render 'layouts/new_book' %>
  </div>
  <div class="col-xs-9">
    <h2>Users</h2>
    <table class="table">
      <thead>
        <tr>
          <th class="col-xs-4">image</th>
          <th class="col-xs-4">name</th>
          <th class="col-xs-2"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |model| %>
          <tr>
            <td><%= attachment_image_tag model, :profile_image, :fill, 80, 80, fallback: "no_image.jpg" %></td>
            <td><%= model.name %></td>
            <td><%= link_to 'Show', model %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
