<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-3">
    <%= render partial: 'layouts/user_profile', locals: { user: @user } %>
    <%= render 'layouts/new_book' %>
  </div>
  <div class="col-sm-9">
    <h2>Books</h2>
    <table class="table">
      <thead>
        <tr>
          <%# FIXME:　style %>
          <th style="width:25%;"></th>
          <th style="width:25%;">Title</th>
          <th style="width:50%;">Opinion</th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td><%= attachment_image_tag book.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></td>
            <td><%= book.title %></td>
            <td><%= book.body %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>