<div class="row">
  <div class="col-xs-3">
    <%= render partial: 'layouts/user_profile', locals: { user: @book.user } %>
    <%= render 'layouts/new_book' %>
  </div>
  <div class="col-xs-9">
    <h2>Book detail</h2>
    <table class="table">
      <thead>
        <tr>
          <th class="col-xs-2">User</th>
          <th class="col-xs-3">Title</th>
          <th class="col-xs-5">Opinion</th>
          <% if @book.user.id == current_user.id %>
            <th></th>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(@book.user.id) do %>
              <%= attachment_image_tag @book.user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg" %><br>
              <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, book_path(@book) %></td>
          <td><%= @book.body %></td>
          <% if @book.user.id == current_user.id %>
            <th><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-info" %></th>
            <th><%= link_to "Destroy", book_path(@book.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %></th>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
