<h2>User info</h2>
<%= image_tag 'no_image.jpg' %>
<%# <img src="/assets/no_image.jpg" alt=""> %>
<table class="table">
  <tbody>
    <tr>
      <th>name</th>
      <th><%= current_user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th>sample</th>
    </tr>
  </tbody>
</table>
  <%= link_to edit_user_registration_path, class: "col-12 btn page-link text-dark" do %>
    <i class="fas fa-wrench"></i>
  <% end %>
<h2>New book</h2>
<%= form_with model: @book do |f| %>
  <%= f.label :title, "Title"%>
  <%= f.text_field :title, class: "col-12"%>
  <%= f.label :body, "Opinion" %>
  <%= f.text_area :body, class: "col-12" %>
  <%= f.submit "Create Book", class: "col-12 btn btn-primary" %>
<% end %>
